[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = {extras = ["http2", "socks", "brotli"], version = "*"}
xclienttransaction = {file = "https://github.com/python273/XClientTransaction/archive/37c675c96a045cf7db5fa6b87a87fa28463ccaec.zip"}

[dev-packages]
