*, :after, :before {
    box-sizing: border-box;
}

* {
  padding: 0;
}

:root {
  --brand-color: #2aa5ff;
  --visited-link: #c143f9;
}

body,
input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

button {
  font-size: 1em;
}

.d-none { display: none !important; }
.d-flex { display: flex; }

.ml-auto {
  margin-left: auto;
}

/* */

a, button {
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
}

a:visited {
    color: var(--visited-link);
}

.no-vs {
  color: var(--brand-color) !important;
}

button {
  padding: 0;
  border: none;
  background: inherit;
}

.ff-mono {
  font-family: monospace;
}

.m-0 {
  margin: 0;
}

.c-pointer {
  cursor: pointer;
}

.ai-baseline {
  align-items: baseline;
}
