*, :after, :before {
    box-sizing: border-box;
}

* {
  padding: 0;
}

:root {
  --brand-color: #2aa5ff;
  --visited-link: #c143f9;
}

body,
input,
button,
select,
optgroup,
textarea {
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

button {
  font-size: 1em;
}

.d-none { display: none !important; }
.d-flex { display: flex; }
.user-select-none { user-select: none; }

.ml-auto {
  margin-left: auto;
}

/* */

a, button {
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
}

a:visited {
    color: var(--visited-link);
}

.no-vs {
  color: var(--brand-color) !important;
}

button {
  padding: 0;
  border: none;
  background: inherit;
}

input, textarea, select {
  font-size: 1em;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 1px 3px;
  margin: 5px;
  background-color: var(--comment-bg-color);
  color: var(--text-color);
  accent-color: var(--brand-color);
}
input:focus-visible, textarea:focus-visible, select:focus-visible {
  outline: 2px solid var(--brand-color);
}

input[type=checkbox] {
  margin: 0;
}

.ff-mono {
  font-family: monospace;
}

.m-0 {
  margin: 0;
}

.c-pointer {
  cursor: pointer;
}

.ai-baseline {
  align-items: baseline;
}

hr { border: 1px solid var(--text-color); }